asgiref==3.5.2
Babel==2.11.0
Django==4.1.2
django-bulma==0.8.3
django-filter==22.1
django-phonenumber-field==7.0.0
django-widget-tweaks==1.4.12
phonenumbers==8.13.1
Pillow==9.2.0
pkg_resources==0.0.0
pytz==2022.6
sorl-thumbnail==12.9.0
sqlparse==0.4.3
