<nav class="navbar is-fixed-top is-link" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>  
    <div id="navbarBasicExample" class="navbar-menu">  
      <div class="navbar-end">
        <a class="navbar-item is-spaced">
          About </a>
          <a class="navbar-item">
            Projects</a>
          <a class="navbar-item is-default">
              Contact</a>
        
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-black" href="#">
              <strong>Follow me On:@twitter</strong>
            </a>
            <a class="button is-light" href="#">
              Resume
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>