<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="">     
    </a>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
    <div class="navbar-start">
      <a class="navbar-item"></a>
        <a class="navbar-item"> 
        <ion-icon name="home-outline" class="icon is-medium ion-ionic ion-ionic-is-black" style="color:black;"></ion-icon>
        </a>
        
        <a class="navbar-item">

        </a>
        
        <a class="navbar-item">
          
        </a> 
        
        
        <a class="navbar-item">
          <ion-icon name="search-sharp" class="icon is-medium"></ion-icon>
          
        </a>

        <a class="navbar-item">
          
        </a>
        
        <div class="buttons">
          <a class="button is-dark is-small" href="{% url 'accounts:register' %}">
            <strong>Sign up</strong>
          </a>
          <a class="button is-black is-small" href="{% url 'accounts:login_user' %}">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>