{% extends 'main.html' %}
{% load humanize%}
{% block content %}
<section class="section p5"> 
<a href="{% url 'car_fleet:cars' %}"><button class="button is-primary is-outlined is-responsive is-small">Back </button></a>
<h1 class="title">{{object.make}}<br/>{{object.price | intcomma}}</h1>
    <div class="columns is-mobile">
        <div class="column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd">
          <img src ="{{object.car_image.url}}" />         
        </div>
        <div class="column is-half">
          <h3>Car Type: {{object.car_category}}<br/></h3>
          <h3>Make : {{object.make}}<br/></h3>
          <h3>Price {{object.price}}<br/><h3>
          <h3>Model : {{object.model_type}}<br/></h3>
          <h3>Registration Year : {{object.year}}<br/></h3>
          <h3>Fuel type: {{object.fuel}}<br/></h3>
          <h3>Engine Size: {{object.engine_mode}}<br/></h3>
          <h3>Power mode: {{object.power}}<br/></h3>
          <h3>Gearbox: {{object.gearbox}}<br/></h3>
          <h3>Number of Seats: {{object.number_of_seats}}<br/></h3>
          <h3>Doors: {{object.doors}}<br/></h3>
          <h3>Color : {{object.color}}<br/></h3>   
        </div>
        <div class="column is-auto">
          <h4>Descriptions</h4>
          {% for e in object.description.all %}
           <p>{{e.desc_1}}</p><br/>
           <p>{{e.desc_2}}</p></br>
           <p>{{e.desc_3}}</p></br>
           <p>{{e.desc_4}}</p>      
          {% endfor%}        

        </div>
    </div>  
    <div class="row">
      {% for extras in object.extra.all %}
      <h4>Car Extras</h4>
      <p>{{extras.extra_1}}
        {{extras.extra_2}}
        {{extras.extra_3}}
        {{extras.extra_4}}
      </p>
      
      {% endfor%}
      <div class="column">
        <h4>Dealer Contact</h4>
        {{object.contact}}
      </div>
    </div> 
  </section>
{% endblock content %}