{% extends 'main.html' %}
{% load humanize %}
{% block content %}


<section class='section is-medium'>
  <div class="container is-fullhd">
    <div class="columns">
      <div class="column is-7 is-mobile">
        <figure class="image">
          <img src ="{{object.car_image.url}}" style="border-radius:8px; heigth:50px; width:100%;" />           
        </figure>     

      </div>
      <div class="column is-auto">
        {% include 'search/extras.html' %}
      </div>
    </div>
  </div>
  <div class="container is-fullhd" style="padding:30px;">
    <div class="notification is-white">
      <h3 class="title is-3" style="text-align:center; padding:10px;color:#4522DD;">Car Specs</h3>
      <div class="columns">
      <div class="column is-4">
        <h4 class="title is-4" style="text-decoration:underline;color:#DD225C;">Features</h4>
        <p>Car Type: {{object.car_category}}</p>
          <p>Make : {{object.make}}</p>
          <p>Price :{{object.price}}</p>
          <p>Model : {{object.model_type}}</p>
          <p>Registration Year : {{object.release_year}}</p>
          <p>Fuel type: {{object.fuel}}</p>
          <p>Engine Size: {{object.engine_mode}}</p>
          <p>Power mode: {{object.power}}</p>
          <p>Gearbox: {{object.gearbox}}</p>
          <p>Number of Seats: {{object.number_of_seats}}</p>
          <p>Doors: {{object.doors}}</p>
          <p>Color : {{object.color}}</p>         
      </div>
      <div class="column is-4">
        <h5 class="title is-5" style="text-decoration:underline;color:#DD225C;">Descriptions</h5>
        {% for e in object.description.all %}
           <p>{{e.desc_1}}</p>
           <p>{{e.desc_2}}</p>
           <p>{{e.desc_3}}</p>
           <p>{{e.desc_4}}</p>      
          {% endfor%}
      </div>
      <div class="column is-4">
        <h4 class="title is-5" style="text-decoration:underline;color:#DD225C;">Car Extras</h4>       
        {% for extras in object.extra.all %}
            <p>{{extras.extra_1}}</p>
            <p>{{extras.extra_2}}</p>
            <p>{{extras.extra_3}}</p>
            <p>{{extras.extra_4}}</p>              
          {% endfor%}
          <h4 class="title is-5" style="text-decoration:underline;margin-top:80px;">Contact Person</h4>
           <p>Contact: {{object.contact}}</p> 
          <p>Phone Number: {{object.contact.phone_number }}</p>
          <figure class="image is-round ">
            <img src="{{object.contact.avatar.url }}" style="border-radius:10px; height:100px; width:100px;"/>       
          </figure>
          

          
      </div>
    </div>
  </div>
</section>
{% endblock content %}
<!--<section class="section p5"> 
<a href="{% url 'car_fleet:cars' %}"><button class="button is-primary is-outlined is-responsive is-small">Back </button></a>
<h1 class="title">{{object.make}}<br/>{{object.price | intcomma}}</h1>
    <div class="columns is-mobile">
        <div class="column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd">
          <img src ="{{object.car_image.url}}" />         
        </div>
        <div class="column is-half">
          <h3>Car Type: {{object.car_category}}<br/></h3>
          <h3>Make : {{object.make}}<br/></h3>
          <h3>Price {{object.price}}<br/><h3>
          <h3>Model : {{object.model_type}}<br/></h3>
          <h3>Registration Year : {{object.year}}<br/></h3>
          <h3>Fuel type: {{object.fuel}}<br/></h3>
          <h3>Engine Size: {{object.engine_mode}}<br/></h3>
          <h3>Power mode: {{object.power}}<br/></h3>
          <h3>Gearbox: {{object.gearbox}}<br/></h3>
          <h3>Number of Seats: {{object.number_of_seats}}<br/></h3>
          <h3>Doors: {{object.doors}}<br/></h3>
          <h3>Color : {{object.color}}<br/></h3>   
        </div>
        <div class="column is-auto">
          <h4>Descriptions</h4>
          {% for e in object.description.all %}
           <p>{{e.desc_1}}</p><br/>
           <p>{{e.desc_2}}</p></br>
           <p>{{e.desc_3}}</p></br>
           <p>{{e.desc_4}}</p>      
          {% endfor%}        

        </div>
    </div>  
    <div class="row">
      {% for extras in object.extra.all %}
      <h4>Car Extras</h4>
      <p>{{extras.extra_1}}
        {{extras.extra_2}}
        {{extras.extra_3}}
        {{extras.extra_4}}
      </p>
      
      {% endfor%}
      <div class="column">
        <h4>Dealer Contact</h4>
        {{object.contact}}
      </div>
    </div> 
  </section>-->
