{% extends 'main.html'%}
{% load humanize %}
{% block content %}
{% load bulma_tags%}
<section>
    <div class="container-fullhd">
      <h2>FILTER</h2>
      <div class="columns p-2 mx-2">
        <form method='get'>
        <div class="column"> 
          {{filter.form | bulma }} 
          <button class="btn btn-primary btn-small">Filter</button>
        </form>      
        </div>
        <div class="column is-10">
          {% for listings in filter.qs %}
          <div class="columns is-bordered is-mobile">
            <div class="column">
              <img src="{{listings.car_image.url }}" width="200px" height="150px"  style="border-radius:10px";/>           
            </div>
            <div class="column">
              <div class="media-content">
                <p class="title is-5">{{listings.make}}</p>                
              </div>           
            </div>
            <div class="column">
              <p class="subtitle is-6">KES {{listings.price | intcomma}}</p>                                          
            </div>
            <div class="column">
              <a href="{% url 'car_fleet:car' listings.id %}">
                <ion-icon name="add-circle-sharp" class="icon is-medium"></ion-icon> 
              </a>                   
            </div>
          </div>              
          {% endfor %}

          {% include 'partials/pagination.html'%}
        </div>               
      </div>   

    </div>
  </section>
  {% endblock %}
