{% extends 'main.html'%}
{% load humanize %}
{% load crispy_forms_tags%}
{% block content %}


  <div class="container mt-6 p-5 is-widescreen">
    <div class ='columns is-mobile is-narrow-mobile'>
      <div class="column is-3"></div>
      <div class="column is-6 ">{% include 'partials/panels.html' %}</div>
      <div class="column is-3"></div>

    </div>
  </div>
</section>
<section class="section">
  <div class="container is-fullhd mb-1">
      <div class="columns is-multiline is-mobile">
        {% for listings in listing %}
         <div class="column is-narrow">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="{{listings.car_image.url }}" style="border-radius:10px";/>       
              </figure>
            </div>
            <div class="card-content"> 
              <div class="content" style="margin-top:-20px;">
                <h5 class="title is-6" style="color:#000;">{{listings.make}} ~ {{listings.gearbox}}</h5>
                <p class="subtitle is-6" style="color:#DD225C;font-weight:800;">Ksh. {{listings.price | intcomma}}</p>
                <hr style="width:50%; position:center;">
                <p class="subtitle is-6"style="color:#000;weight:700;"> {{listings.release_year}} - <span>{{listings.color}}</span></p>           
              </div>
              <div class="card">
                <footer class="card-footer" style="height:60px;">
                  <a href="{% url 'car_fleet:car' listings.id %}" class="card-footer-item "><span id="quote"style="color:#000;font-weight:700;font-size:12px;">More Details</span></a>
                  <a href="#" class="card-footer-item"><span id="quote" style="color:#000;font-weight:700; font-size:12px;10px;">Get Quote</span></a>
                </footer>
              </div>
            </div>
          </div>      
        </div>     
         {% endfor %}
      </div>
    </div>
    <p style="margin-top:30px;padding:30px;position:center;">{% include 'partials/pagination.html'%}</p>
  </div>
</section>
{% endblock %}

     