{% extends 'main.html'%}
{% load humanize %}
{% block content %}
{% load bulma_tags%}
<section class='section is-medium' id='listing-section'>
  <div class="container-fullhd">
      <h6 class='title'>Filter</h6>
      <div class="columns">
      <div class="column" style="border:1px solid #ddd; border-radius:5px; background-color:red; margin:4px;height:580px;"> 
          <form method='get'>        
             {{filter.form | bulma }} 
             <button class="btn btn-primary btn-small">Filter</button>
          </form>      
        </div>
        <div class="column is-9">
          {% for listings in filter.qs %}
          <div class="columns is-bordered is-mobile">
            <div class="column">
              <img src="{{listings.car_image.url }}" width="200px" height="150px"  style="border-radius:10px";/>           
            </div>
            <div class="column">
              <div class="media-content">
                <p class="title is-5">{{listings.make}}</p>                
              </div>
              {% for d in listings.description.all %}
              <p>{{d.desc_1 }}, {{d.desc_2 }}
              {{d.desc_3 }},{{d.desc_4 }}                
              </p>              
              {% endfor %}
                    
            </div>
               
            <div class="column">
              <p class="subtitle is-6">KES {{listings.price | intcomma}}</p>                                          
            </div>
            <div class="column">
              <a href="{% url 'car_fleet:car' listings.id %}">
                <ion-icon name="add-circle-sharp" class="icon is-medium"></ion-icon> 
              </a>                   
            </div>            
          </div>              
          {% endfor %}
          {% include 'partials/pagination.html'%}
        </div>               
      </div> 
    </div>
  </section>

  {% endblock %}
  
