#hero-part{
    border:1px solid #ddd;
    border-radius:5px;
    background-color:#DD225C;
    margin:4px;
    height:580px;
}
.header-image {
    background-image: url("https://pixabay.com/images/id-1851246/");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#main-title{
    margin-top:-190px;
    color:#ddd;
    text-align:left !important;
    margin-right:20px;
    font-size:35px !important;
    font-weight:900;
    text-transform:capitalize !important;
}
#main-subtitle{
    color:#fff;
    font-size:15px !important;
    text-transform:capitalize !important;

}
#major{
    margin-right:20px;
}
#panel{
    text-align:left !important;
    position:relative;   
}
