 <section class='section'>
    <div class="container is-fullhd">
        <div class="columns" style="margin-top:-50px;">
            <div class="column is-mobile" style="border:solid 1px; background-color:#22DDA3;border-radius:11px;color:#fff;">
                <h3 class="subtitle is-5">Verified Cars</h3>
                <p>Automaz carries several checks are carried out on a car to ensure a consistent standard is maintained. This checks covers car condition as well as the documentation.</p>
            </div>            
        </div>
        <div class="columns">
            <div class="column" style="border:solid 1px; background-color:#BADD22;border-radius:11px;color:#fff;">
                <h3 class="subtitle is-5">Dedicated Team Support</h3>
                <p>Automaz has a dedicated support team readily available to assist you with the relevant information you require to make better buying decisions.</p>
            </div>            
        </div>
        <div class="columns">
            <div class="column" style="border:solid 1px; background-color:#DD225C;border-radius:11px;color:#fff;">
                <h3 class="subtitle is-5">Great maintenance</h3>
                <p>Automaz has a network of professional maintenance hubs that will help you keep a history of your services while providing you with quality car after sales services.</p>
                
            </div>          
        </div> 
    </div>
 </section>